body {
	margin: 0;
	overflow-x: hidden;
	background-color: $sides;
}


.head-section {
	display: flex;		
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	padding-top: 75px;
	padding-bottom: 20px;
	margin: 0 auto;
		
	h3 {
		font-family: $header-font-family;
		text-align: center;
		display: flex;
		justify-content: center;
		margin: 0;		
		font-size: 3.5em; 
		text-transform: uppercase;
	}
	
	p {
		display: flex;
		justify-content: center;
		font-style: italic;
		font-family: 'droid';
		padding: 0;
	}
}

.col {	
	text-align: center;
	flex: 1;
}

h4 {
	padding-top: 20px;
	font-size: 1.375em; 
	margin: 5px;
	font-family: $header-font-family;
}

p {
	margin: 5px;
	padding-bottom: 20px;
	font-family: $paragraph-font;
	font-weight: lighter;
	color: $paragraph-color;
}

.container {
	top: 0;
	width: 76%;
	margin: 0 auto;
	background-color: $main-color; 
}

@media screen and (max-width: 998px) {
	.container {
		width: 100%;
		margin: 0;	
	}	
}

@media screen and (max-width: 798px) {
	.head-section {
		h3 {
			font-size: 2.25em; /* 36/16 */
		}
		p {
			text-align: center;
		}
	}
}