@font-face {
	font-family: 'wisdom';
	src: url('/fonts/ThirstyScriptExtraBoldDemo.otf')
}

@font-face {
	font-family: 'droid';
	src: url('/fonts/DroidSerif-Italic.ttf')
}

/*@mixin wrap($x) {
	display: flex;
	justify-content: center;	
	flex-wrap: $x;
}*/
