@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:300,400');
@font-face {
	font-family: 'wisdom';
	src: url(../fonts/ThirstyScriptExtraBoldDemo.otf)
}

@font-face {
	font-family: 'droid';
	src: url(../fonts/DroidSerif-Italic.ttf)
}

$paragraph-font:'Roboto Slab', serif;
$header-font-family: 'Montserrat', sans-serif;


$main-color: #fff;
$paragraph-color: #777777;
$btn-color: #fed136;
$employment: #f7f7f7;
$circle: #eeeeee;
$sides: #333333;
$second-main-color: #000000;