.contact {
	background-position: center;	
	background: url('images/map-image.png');
	background-color: $second-main-color;
	height: 70vh;
	overflow: hidden;	
	width: 100%;
	background-size: cover;
	flex-wrap: wrap;
	h3 {
		color: $main-color;
	}
}

@media screen and (max-width: 998px) {
		  .contact {
    			height: 100vh;    			
  			}		
		}

.btn-center {
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;
	button {
		@include btn;	
	}
}



.send-msg {
	display: fex;
	flex-wrap: wrap;
	form {
		padding-top: 75px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.form-col {
			display: flex;		
			flex-direction: column;
			input {				
				height: 50px;				
				padding-left: 10px;
				@include from-area-style;				
			}
		}

		.massage {
			textarea {				
				height: 190px;				
				padding: 15px;
				@include from-area-style;
			}
		}
	}
}
