* {
	box-sizing: border-box;
}

header {
	background-position: center;	
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(../images/background-image.png);
	height: 100vh;
	overflow: hidden;
	width: 100%;
	background-size: cover;	
}

nav {
	margin: 0 auto 0 auto;
	display: flex;	
	flex-flow: column;
	padding: 20px;	
	.logo {
		margin-right: auto;		
		font-size: 1.6em;		
		font-family: 'wisdom';
		color: #fed136;
		padding-left: 100px;
	}

	ul {		
		margin: 0;
		font-family: $header-font-family;    	
    	padding:0;
    	display: flex;    	
		flex-direction: row;
		justify-content: flex-end;
		li {			
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1em;
			list-style-type: none;		
			padding: 15px 20px 0 20px;
			cursor: pointer;
			&:hover {
				color: $btn-color;
			}
		}
	}
}

@media screen and (max-width: 798px) {
	nav {	
		.logo {
			margin: 0 auto;
			padding: 0;
		}
		ul { 
			display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    flex-direction: column;
		    text-align: center;
		}
	}

	.welcome {
		padding-top: 5vh;
	}

	header {
		height: 200vh;
	}
}

.welcome {	
	text-transform: uppercase;
	font-family: $header-font-family;
	color: $main-color;
	text-align: center;
	margin: 0 auto;
	padding-top: 17vh;

	h2 {
		font-size: 2.575em; 
		font-family: 'droid';
	}

	 button {
		@include btn;
	}
	
}

@media screen and (min-width: 1198px) {
   	
}

@media screen and (max-width: 900px) {
    nav {
    	margin: 0 auto;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;   			
	}

	.welcome {
		h2 {
			font-size: 1.5em;
		}
		h1 {
			font-size: 2.75em;
		}
	}		
}